@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --border: 1px solid #d5e0d5;
  --blue: #1f57c3;
  --green: #14a800;
  --green-hover: #3c8224;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dev-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

body {
  color: #001e00;
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

.dev-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.wrapper,
.wrapperForm {
  display: flex;
  align-items: center;
}

.wrapperForm {
  min-height: 100vh;
}

.main {
  margin: 0 auto;
}

/* sidebar */
.navbar {
  width: 23%;
  border: var(--border);
  padding: 30px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar .logo {
  text-decoration: none;
  color: #001e00;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Lobster', cursive;
  margin-bottom: 10px;
}

.navbar .navbar-nav {
  list-style: none;
  padding-left: 0;
}

.navbar .navbar-nav .nav-item {
  display: block;
}

.navbar .navbar-nav .nav-link {
  text-decoration: none;
  color: #13544e;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 0;
  display: block;
  transition: all 0.15s;
}

.navbar .navbar-nav .nav-link:hover,
.active {
  background: var(--green);
  color: #fff !important;
  padding-left: 10px !important;
}

.navbar .navbar-social {
  margin-top: auto;
}

.navbar .navbar-social a {
  display: inline-block;
  font-size: 20px;
  color: #001e00;
  padding: 10px;
  transition: all 0.15s;
}

.info-text .reserve a {
  margin-left: auto;
  color: #fff;
  background: #001e00;
  border-color: transparent;
  padding: 12px 29px;
  border: 1px solid;
  border-radius: 10rem;
  font-weight: 500;
  display: inline-block;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  transition: all 0.15s;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
}

.navbar .navbar-social a:hover {
  transform: scale(1.5);
}

/* developers list page */
.devs {
  margin: 0 auto;
  max-width: 800px;
}

.dev_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.devs .title,
.devs .desc {
  text-align: center;
}

.devs-card {
  border: var(--border);
  border-radius: 13px;
  display: flex;
  margin: 20px 0;
  width: 45%;
  text-decoration: none;
  color: inherit;
  transition: all 0.15s;
}

.devs-card .dev-info {
  padding: 10px;
  margin-left: 20px;
}

.devs-card .image {
  width: 30%;
}

.devs-card:hover {
  transform: scale(1.05);
}

/* developer details page */
.info {
  margin: 0 auto;
  max-width: 800px;
  border: var(--border);
  border-radius: 13px;
}

.info .img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-bottom: var(--border);
}

.info .img img {
  margin-bottom: 30px;
  width: 120px;
  border-radius: 50%;
}

.info .img h1 {
  margin-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  display: inline;
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  word-break: break-word;
}

.info .img p {
  overflow: hidden;
  display: block;
  font-size: 14px;
}

.info .img .status,
.status {
  display: flex;
  padding: 5px 18px;
  border: var(--border);
  border-color: var(--green);
  border-radius: 10rem;
  margin-top: 10px;
  align-items: center;
}

.info-text .skills ul li span {
  display: inline-flex;
  align-items: center;
  height: 25px;
  margin: 0 5px 10px 0;
  padding: 0 10px;
  color: #13544e;
  background: #e4ebe4;
  border-radius: 12px;
  font-size: 12px;
  cursor: default;
  line-height: 1;
}

.info .img .status span,
.status span {
  width: 12px;
  height: 12px;
  background: var(--green);
  border-radius: 50%;
}

.info .img .status p,
.status p {
  margin-left: 5px;
  font-size: 13px;
  color: var(--green);
}

.info-text {
  padding: 30px;
  border-bottom: var(--border);
}

.info-text h2 {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  word-break: break-word;
}

.info-text .bio {
  position: relative;
  white-space: pre-line;
  word-break: break-word;
  word-wrap: break-word;
}

.info-text .skills {
  margin-top: 30px;
}

.info-text .skills h3 {
  margin-bottom: 10px;
  line-height: 24px;
  font-size: 18px;
  font-weight: 500;
  word-break: break-word;
}

.info-text .skills ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.info-text .skills ul li {
  padding-right: 5px;
}

.info-text .reserve {
  padding-top: 30px;
  display: flex;
  align-items: center;
}

.info-text .reserve a:hover {
  color: #fff;
  box-shadow: none;
  background: hsla(120, 100%, 6%, 80%);
}

.form {
  display: flex;
  flex-direction: column;
}

.form-section {
  width: 600px;
  padding: 5%;
  margin: auto;
  border: var(--border);
  border-radius: 13px;
}

.form-section h1 {
  text-align: center;
  margin-bottom: 10px;
}

.field {
  height: 40px;
  padding: 21px 12px;
  margin-bottom: 20px;
  border: var(--border);
  transition: all 0.15s;
}

.field:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--green);
}

.submit_btn {
  color: #fff;
  background: var(--green);
  border-color: transparent;
  padding: 12px 29px;
  border: 1px solid;
  border-radius: 10rem;
  font-weight: 500;
  display: inline-block;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  transition: all 0.15s;
  cursor: pointer;
  width: 60%;
  margin: 0 auto;
}

.submit_btn:hover {
  background: var(--green-hover);
}

.not_member {
  margin-top: 10px;
  overflow: hidden;
  text-align: center;
  color: #5e6d55;
}

.not_member a {
  color: var(--green);
  text-decoration: none;
}

.not_member a:hover {
  color: #001e00;
}

.green {
  color: var(--green) !important;
}

.grey {
  color: #001e00 !important;
}

.dev-info .price {
  font-weight: bold;
  margin-top: 10px;
}

table,
th,
td {
  border: var(--border);
  border-collapse: collapse;
}

td,
th {
  padding: 10px;
}
